.form {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.field {
  padding: 5px;
  border-radius: 5px;
  background: antiquewhite;
}

.textArea {
  padding: 10px;
  border-radius: 5px;
  background: antiquewhite;
}

.error {
  color: red;
}

.errorLevel {
  color: red;
}
