/* src/components/App.module.css */

.moduleHead {
  margin-bottom: 10px;
  color: blueviolet;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input {
  padding: 5px;
  border-radius: 5px;
  background: antiquewhite;
}

.btn:hover {
  scale: 1.05;
}

.usingTitle {
  margin-bottom: 10px;
  color: brown;
}

.radioBtnTitle {
  color: brown;
}

.radioContainer input[type="radio"] {
  margin: 10px 10px;
}

.select {
  color: brown;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type="checkbox"] {
  margin: 10px;
}
